@font-face {
    font-family: 'RobotoL', sans-serif;
    src: url(../fonts/Roboto-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'RobotoR', sans-serif;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoM', sans-serif;
    src: url(../fonts/Roboto-Medium.ttf) format(truetype);
}

@font-face {
    font-family: 'RobotoB', sans-serif;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
